<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>
</head>
<body>

<h1>Student Management System</h1>

<h2>Student Operations</h2>

<a href="/add">Add New Student</a>
<br><br>

<a href="/students">Display All Students</a>
<br><br>

<h3>Search Student</h3>

<form action="/search" method="get">

    <label>Enter Register Number:</label>

    <input type="number" name="regno" required>

    <button type="submit">Search</button>

</form>

</body>
</html>



